/* Модальное окно (фон) */
.modal {
display: none; /* Скрыто по умолчанию */
position: fixed; /* Остается на месте */
z-index: 1; /* Размещается сверху */
padding-top: 100px; /* Расположение поля */
left: 0;
top: 0;
width: 100%; /* Полная ширина */
height: 100%; /* Полная высота */
overflow: auto; /* Включить прокрутку при необходимости */
background-color: rgb(0,0,0); /* Резервный цвет */
background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
color: #aaaaaa;
}

/* Модальное содержимое */
.modal-content {
background-color: rgb(8, 32, 77);
margin: auto;
padding: 0px;
border: 1px solid #000000;
border-radius: 10px;
width: 80%;
}

/* Кнопка закрытия */
.close {
color: #aaaaaa;
  display: flex;
  justify-content: flex-end;
padding-right: 15px;
margin-left: 99%;

}

.close:hover,
.close:focus {
color: #ff0000;
text-decoration: none;
cursor: pointer;
}

#verticalBlockAddProduct { 
  margin-left: 15px;
  margin-right: 50px;
  width: 40%;
  display: block;

}

#horizontalBlockAddProduct { 
  justify-items: center;

}

#horizontalBlockAddProduct button{ 
  margin-right: 0px;
  margin-left: 32%;
}

#verticalBlockAddProduct button { 
  margin-right: 0px;
  margin-left: 13%;
}

#addProductPic { 
  border-radius: 15px;
  width: 300px; 
  height: 300px;
}

#workingzoneaddProduct { 
  margin-bottom: 3%;
}

#workingzoneaddProduct { 
  display: flex;
  justify-content: center; /* горизонтальное центрирование */
  align-items: center; /* вертикальное центрирование */
}
