.product-card {
    background-color: #002f5c;
    display: grid;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 370px;
    margin-bottom: 15px;
}

.product-card p { 
    margin-left: 15px;
    width: 5vh;
}



.input-label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}

.product-card label { 
    color: white;
    font-size: 17px;
}

.input-field {
    width: 91%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #333;
    transition: border-color 0.3s;
}

.input-field:focus {
    outline: none;
    border-color: #0074d9;
}

#modal-contentaddProduct { 
    width: 900px;
}

#QuantityProductTableInput {
    width: 7vh;
    height: 1vh;
}

#QuantityProductTableInput { 
    margin-top: 0.5vh;
}